* {
  font-family: "Nunito", sans-serif;
  padding: 0px;
  margin: 0px;
}

.hidden {
  display: none;
}

navbar {
  display: flex;
  align-items: center;
  padding: 0px 30px 0px 30px;
  gap: 30px;
  border-bottom: solid 2px #E2E7F9;
  background-color: white;
}

footer {
  width: calc(100%-30px);
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 15px 30px 15px 30px;
  gap: 30px;
  border-top: solid 2px #E2E7F9;
  background-color: white;

}

h1 {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 20px 30px 20px 0px;
  font-weight: 800;
  color: #3457D5;
  flex: auto;
}

body {
  background-color: #F0F3FC;
}

.card {
  background-color: #ffffff;
  padding: 20px 0px;
  border-radius: 10px;
  border: solid 2px #E2E7F9;
  box-shadow: 0px 3px #E2E7F9;
  flex: 1 1 320px;
}

.output-section {
  flex: 1 1 400px;
}

.first {
  flex: 1 1 420px;
}

h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin: 0px 20px 0px 20px;
}

.input-wrapper {
  position: relative;
  margin: 0px 0px 0px 20px;
  line-height: 100%;
  color: #5e5e5e;
  display: inline-block; 
}

.text-wrapper {
  margin: 0px 20px 0px 20px;
  line-height: 100%;
  color: #5e5e5e;
}

label {
  margin: 8px;
}
input {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  padding: 8px;
  margin: 4px 8px 4px 8px;
  border: none;
  background-color: #E2E7F9;
  border-radius: 10px;
  transition: 0.2s;
  max-width: 70px;
}

input:focus {
  outline: solid 2px #3457D5;
  border-radius: 2px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 8px;
  margin: 8px 0px 0px 0px;
  border: none;
  background-color: #E2E7F9;
  border-radius: 10px;
}
select:focus {
  outline: solid 2px #3457D5;
  border-radius: 2px;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

a:hover {
  color: #3457D5;
  text-decoration: underline;
}




section {
  max-width: 1200px;
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

ul {
  margin-top: 8px;
  margin-bottom: 16px;
  list-style: inside;
}


.main-button {
  background-color: #3457D5;
  color: white;
  padding: 12px 20px;
  margin: 30px 0px;
  border-radius: 10px;
  border: solid 2px #172A6E;
  box-shadow: 0px 2px #172A6E;
  transition: 0.2s;
  cursor: pointer;
}

.main-button:hover {
  color: white;
  text-decoration: none;
  box-shadow: 0px 4px #172A6E;     
}

.icon-button ion-icon {
  font-size: 20px;
  color: #ffffff;
}

.icon-button {
  position: absolute;
  right: 10px;
  top: 7.5px;
  background-color: #3457D5;
  padding: 2px;
  display: flex;
  border-radius: 10px;
  border: solid 2px #172A6E;
  transition: 0.2s;
  cursor: pointer;
}

.icon-button:hover {
  color: white;
  box-shadow: 0px 2px #172A6E;     
}

.flexbox {
  display: flex;
  flex-direction: column;
  align-items: start;
}
dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

dialog::backdrop {
  background: rgba(0,0,0,.75);
}

.wrapper-input-button {
  display: flex;
  align-items: center;
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.legend {
  font-size: 12px;
  text-decoration: underline;
}