* {
  font-family: "Nunito", sans-serif;
  padding: 0px;
  margin: 0px;
}

.hidden {
  display: none;
}

navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 0px 30px 0px 30px;
  text-align: center;
  gap: 30px;
  border-bottom: solid 4px #eaeaea;
  background-color: white;
}

footer {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 15px 30px 15px 30px;
  gap: 30px;
  border-top: solid 2px #eaeaea;
  background-color: white;

}

h1 {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 20px 30px 20px 0px;
  font-weight: 800;
  color: #01796F;
}

body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: #ffffff;
  padding: 20px 0px;
  border-radius: 10px;
  border: solid 2px #eaeaea;
  box-shadow: 0px 3px #eaeaea;
  flex: 1 1 320px;
}




h2 {
  font-size: 18px;
  color: #212121;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin: 0px 20px 0px 20px;
}

.input-wrapper {
  position: relative;
  margin: 0px 0px 0px 10px;
  line-height: 100%;
  color: #5e5e5e;
  display: inline-block; 
}

.text-wrapper {
  margin: 0px 20px 0px 20px;
  line-height: 100%;
  color: #5e5e5e;
}

label {
  margin: 8px;
}
input {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  padding: 8px;
  margin: 4px 8px 4px 8px;
  border: none;
  background-color: white;
  border-radius: 10px;
  transition: 0.2s;
  max-width: 180px;
  border: solid 3px #eaeaea;
}

input:focus {
  outline: solid 2px #01796F;
  border-radius: 2px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 8px;
  margin: 8px 0px 0px 0px;
  border: none;
  background-color: white;
  border-radius: 10px;
  color: black;
  border: solid 2px #eaeaea;
  box-shadow: 0px 3px #eaeaea;
}
select:focus {
  outline: solid 2px #01796F;
  border-radius: 2px;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

a:hover {
  color: #01796F;
  text-decoration: underline;
}




section {
  max-width: 900px;
  margin: 12px;
  display: flex;
  flex-wrap: wrap;

  gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

ul {
  margin-top: 8px;
  margin-left: 20px;
  margin-bottom: 16px;
  list-style: inside "-  ";
}


.main-button {
  background-color: #01796F;
  color: white;
  padding: 12px 20px;
  margin: 10px 0px;
  border-radius: 10px;
  border: solid 2px #002B28;
  box-shadow: 0px 3px #002B28;
  transition: 0.2s;
  cursor: pointer;
}

.main-button:hover {
  color: white;
  text-decoration: none;
  box-shadow: 0px 0px #002B28;     
}

.icon-button ion-icon {
  font-size: 20px;
  color: #ffffff;
}

.icon-button {
  position: absolute;
  right: 14px;
  top: 10px;
  background-color: #01796F;
  padding: 2px;
  display: flex;
  border-radius: 10px;
  border: solid 2px #002B28;
  transition: 0.2s;
  cursor: pointer;
}

.icon-button:hover {
  color: white;   
}

.flexbox {
  display: flex;
  flex-direction: column;
  align-items: start;
}
dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

dialog::backdrop {
  background: rgba(0,0,0,.75);
}

.wrapper-input-button {
  display: flex;
  align-items: center;
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.legend {
  font-size: 12px;
  text-decoration: underline;
}


.questions-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 360px;
}

.frequent-question {
  border: none;
  border-bottom: solid 2px transparent;
  background-color: transparent;
  cursor: pointer;
  margin: 6px;
  text-align: left;
  transition: all 0.3s;
}

.frequent-question:hover {
  border-bottom: solid 2px #01796F;
}

.selected-question {
  border-bottom: solid 2px #01796F;
  color: #01796F;
  font-weight: 700;
}

p {
  margin-top: 8px;
  margin-bottom: 8px;
}
h4 {
  margin-bottom: 8px;
}
li {
  margin-bottom: 10px;
}

.result {
  font-size: larger;
  color: #01796F;
  font-weight: bolder;
}

.logo ion-icon {
  width: 32px;
  height: 32px;
  color: #002B28;
}